.rapper__box {
    width: 100%;
    height: 48vh;
    display: flex;
    justify-content: center;
    align-items: start;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
}

.addversting__box {
    width: 17%;
    height: 100%;
    background-image: url(https://richmedia.channeladvisor.com/ImageDelivery/imageService?profileId=12021529&imageId=ZY032519_L1_Shoes);
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    border: none;
}

#carouselExampleIndicators {
    width: 80%;
    height: 100%;
}


@media screen and (max-width: 768px) {
    .rapper__box {
        width: 100%;
        height: 50vh;
        flex-direction: column-reverse;
    }


    .addversting__box {
        width: 100%;
        background-size: fill;
        background-position: center;
        background-image: url(https://ke.jumia.is/cms/2021/W28/NewHome/Fashion/Brands/Mobile/Sparx-copy.jpg);
        object-fit: fill;
    }

    #carouselExampleIndicators {
        width: 100%;
    }
}